* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --bg-color: #fdfffc;

    --gray-main: #bcbcbc;
    --gray-second: #d6d6d6;
    --gray-second-difference: #333333;

    --black-main: #202124;
    --black-second: #474747;
    --black-second: #4D4D4D;

    --raster-color: #f4f4f4;

    --blue-first: #9eccd8;
    --blue-second: #77aabc;

    --yellow-first: #f9e63d;
    --blue-bg: #3cdeef;
}

html, body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: var(--black-main);
    /* width: 100%; */
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
    background: var(--blue-first);
    color: var(--black-main);
  }
  
::selection {
background: var(--blue-first);
color: var(--black-main);
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.app {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
}
/* nav */
.nav {
    position: fixed;
    display: block;

    font-size: 1rem;

    background-color: var(--bg-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);

    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;

    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    text-decoration: none;
    color: var(--black-main);
    cursor: pointer;
    z-index: 10;

    transition: background-color 0.3s, color 0.3s;
}

.projects {
    bottom: 0;
    margin-bottom: 20px;
}

.nav:hover {
    background-color: var(--gray-second-difference);
    color: var(--bg-color);
}

/* preload */
section.preload {
    position: fixed;
    display: none;

    height: 100vh;
    width: 100vw;

    z-index: 2000;
}
/* name */

.name {
    position: relative;
    display: block;
    z-index: 5;
    height: 100vh;
}

.name h1 {
    position: absolute;
    display: block;
    font-size: 22vw;
    top: 49%;
    left: 50%;
    color: #ececec;
    transform: translate(-50%, -100%);
    opacity: 0;
}

.name h2 {
    position: absolute;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-main);
    text-align: center;
    width: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

    opacity: 0;
}

.name h3 {
    position: absolute;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    color: var(--black-main);
    text-align: center;
    margin-top: 2rem;
    width: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);

    opacity: 0;
}

.mask {
    overflow: hidden;
}

/* raster-bg */
.raster-bg {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);

    z-index: -1;
}

.raster-v-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.raster-line-v {
    position: relative;
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: var(--raster-color);
    margin-left: calc(6.66666vw - 1px);
    margin-right: 0;
}

.raster-h-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.raster-line-h {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--raster-color);
    margin-top: calc(6.66666vw - 1px);
}

.raster-h-1 {
    animation: raster-running 10s linear infinite;
}

@keyframes raster-running {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -50%);
    }
}

/* emoji rain */

.rain {
    position: absolute;
    display: block;    
}

.school {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    width: 260px;
    height: 100px;
    background-color: #4cdf58;
    color: var(--black-main);
    border-radius: 25px;

    -webkit-animation-name: emojis-fall, emojis-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: emojis-fall, emojis-shake;
    animation-duration: 7s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;

    bottom: -10%;
    left: 60%;
    animation-delay: .5s, .5s;

    z-index: 1000;
}

.school:hover {
    animation-play-state: paused;
    rotate: -10deg;
}

.school img {
    width: 70px;
    height: 70px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
    position: relative;
    display: block;
}

.school svg {
    position: absolute;
    display: block;

    right: 30px;
    bottom: 18px;
}

.school a {
    position: relative;
    display: block;

    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.1rem;
    color: var(--black-main);
    margin-top: 25px;
    text-decoration: none;
}

.emoji img {
    width: 70px;
}

.emoji:hover img{
    rotate: -10deg;
}

@keyframes emojis-fall {
    0% {
      bottom: -10%;
    }
    100% {
      bottom: 100%;
    }
}

@keyframes emojis-shake {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0px);
    }
}

.emoji {
    position: fixed;
    bottom: -10%;
    z-index: 999;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    -webkit-animation-name: emojis-fall, emojis-shake;
    -webkit-animation-duration: 5s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: emojis-fall, emojis-shake;
    animation-duration: 5s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.emoji:nth-of-type(1) {
    left: 20%;
}

.emoji:nth-of-type(2) {
    left: 30%;
    animation-delay: 3s, 3s;
}

.emoji:nth-of-type(3) {
    left: 85%;
    animation-delay: 1s, 1s;
}

@keyframes breathing {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.9;
    }
}

/* responsiveee */


@media screen and (max-width: 768px) {
    .name h2, .name h3 {
        top: 49%;
    }

    .school {
        left: 50%;
        animation-duration: 13s, 3s;
    }

    .emoji {
        bottom: -20%
    }

    .emoji:nth-of-type(1) {
        left: 5%;
    }
}

@media screen and (max-width: 480px) {
    .name h2, .name h3 {
        top: 48%;
        font-size: 1.7rem;
    }

    .name h3 {
        top: 47%;
    }

    .school {
        left: 20%;
        animation-duration: 13s, 3s;
    }

    .emoji {
        bottom: -20%
    }

    .emoji:nth-of-type(1) {
        left: 5%;
    }
}


